body {
    font-family: var(--fontFamily);
}
#mainNavBar {
    background-color: var(--primaryBackgroundColor);
    height: 120px;
    width: 100%;
    position: relative;
}
#headerLogo {
    display: inline-block;
    position: absolute;
    left: 5%;
    margin-top: 25px;
    height: 70px;
}

@media only screen and (max-width: 739px) {
}

@media only screen and (min-width: 0px) {
    #desktopMenu {
        display: inline-block;
        position: absolute;
        top: 34%;
        right: 5%;
    }
    #mobileMenu {
        display: none;
    }
}

.navItem {
    padding: 7px;
    color: var(--primaryTextColor);
    display: inline-block;
}
.navItemLink {
    color: inherit;
    text-decoration: none;
    font-family: var(--fontFamily);
    font-weight: 600;
    font-size: large
}
.navItemLink:hover {
    color: var(--primaryTextColor);
}

#loginbutton {
    height: 35px;
}


