#login {
    background-color: #7bafd4;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto 30px auto;
    overflow: hidden;
}

.createHeader{
    font-family: var(--fontFamily);
    font-size:xx-large;  
}

#button {
    background-color: #ffffff;
    border-color: #000000;
    color: black;
    font-family: var(--fontFamily);
    font-size: larger;   
}

.fieldTitle {
    font-family: var(--fontFamily);
    font-size: x-large;
}

.loginInput{
    font-family: var(--fontFamily);
    font-size: larger;    
}